@page
@model WebSampleNet6.Pages.Admin.FoodTypes.CreateModel

@if (Model.FoodType != null)
{
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="@Model.FoodType.Name" class="form-label"></label>
            <input asp-for="@Model.FoodType.Name" class="form-control" placeholder="">
            <span asp-validation-for="@Model.FoodType.Name" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
}

@*Add client-side data validation*@
@section Scripts
{
    @*    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    *@
    <partial name="_ValidationScriptsPartial" />
}